.product
	.product__gallery
		h1 All Weather Terrain Braker AS/PRO
		.product-gallery
			.product-gallery__thumbs
				.product-gallery-thumb
					img(src="images/product-thumb01.jpg")
				.product-gallery-thumb
					img(src="images/product-thumb02.jpg")
				.product-gallery-thumb
					img(src="images/product-thumb03.jpg")
			.product-gallery__photo
				.product-gallery-photo-image
					.image
						img(src="images/product03.jpg")
	.product__info
		.box
			.product-code
				.product-sku.product-sku--gti SKU by GTI: <span>MR 354</span>
				.product-sku Original SKU: <span>MS 354</span>
			.product-excerpt
				| Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
			.product-price-stock
				.product-price
					.product-price__other.product-price__other--old
						| <span>€</span> 200.00
						.product-price-info
							+Icon(name="info")
							.product-price-info__label
								| Old price<br>now 33% Sale
					.product-price__regular
						| <span>€</span> 300.00
				.product-stock
					+Icon(name="check")
					| In Stock
			.product-variation
				.product-variation__select
					label Type
					+Select()
				.product-variation__select
					label Size
					+Select()
			.product-price-stock
				.product-price
					.product-price__other
						| <span>€</span> 200.00
						.product-price-info
							+Icon(name="info")
							.product-price-info__label
								| Regular price<br>for customers
					.product-price__regular
						| <span>€</span> 300.00
				.product-stock.product-stock--not-available
					+Icon(name="check")
					| Not available
			.product-buy
				.product-buy__qty
					.product-quantity
						button.product-quantity__button -
						input.product-quantity__input(type="number" value="1")
						button.product-quantity__button +
				.product-buy__to-cart
					.button.button--danger.button--md Add to cart
		.box
			.product-adds
				.info-block.info-block--add
					.info-block__icon
						+Icon(name="delivery")
					.info-block__name
						.info-block-name-first Free delivery
				.info-block.info-block--add
					.info-block__icon
						+Icon(name="boxes")
					.info-block__name
						.info-block-name-first 50 times bought
				.info-block.info-block--add
					.info-block__icon
						+Icon(name="shield")
					.info-block__name
						.info-block-name-first Quality assurance
		.box
			.share
				.share__label Share
				.share__icons
					include _socials-color

