doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title Template

		block styles
			link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900")
			link(rel="stylesheet" href="./fonts/seldom-scene/font.css")
			link(rel="stylesheet" href="./css/styles.css")

		block scripts

	body

		include mixins/_all

		include parts/_top
		include parts/_head
		include parts/_menu

		include parts/_breadcrumbs
		.container
			include parts/_product
			include parts/_product-tabs


		include parts/_footer

		.visuallyhidden
			<!-- inject:svg --><!-- endinject -->
