.dropzone {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: 0.3s;
	
	&.dropzone--multiple {
		overflow: scroll;
	}
	
	&:focus,
	&:hover {
		border-color: rgba(20, 83, 136, 0.6);
		
		.dropzone-message,
		.dropzone-field__message {
			color: rgba(20, 83, 136, 1);
		}
		
		.dropzone-delete {
			display: block;
		}
	}
}

.dropzone-message {
	text-align: center;
	position: relative;
	z-index: 1;
	transition: 0.3s;
}

.dropzone-field {
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: relative;
	
	&.dropzone-field--multiple {
		flex: 0 1 100%;
	}
	
	.dropzone-field__message {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 100px;
		text-align: center;
		width: 100%;
		height: 100%;
		z-index: 5;
		transition: 0.3s;
		padding: 10px;
		background-color: #f8f8f8;
	}
	
	.dropzone-field__input,
	.dropzone-field__input::-webkit-file-upload-button {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 8;
		width: 100%;
		height: 100%;
		border: 0;
		background: transparent none;
		padding: 0;
		margin: 0;
		opacity: 0;
		cursor: pointer;
	}
}

.dropzone-preview {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	cursor: pointer;
	padding: 10px;
	
	.dropzone-preview__img {
		display: block;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
}

.dropzone-viewport {
	width: auto;
	height: 100%;
	display: flex;
	flex: 1 0 auto;
	
	.dropzone-viewport__image {
		width: auto;
		height: 100%;
		position: relative;
		margin-right: 10px;
		
		.dropzone-preview {
			position: relative;
			top: auto;
			left: auto;
			width: auto;
			height: 100%;
			padding: 0;
		}
		
		.dropzone-delete {
		}
	}
}

.dropzone-delete {
	display: none;
	position: absolute;
	top: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	background-color: #ffffff;
	border-radius: 50%;
	cursor: pointer;
	color: #d7d7d7;
	z-index: 10;
	
	&:hover {
		color: #C43D4B;
	}
	
	.dropzone-delete__icon {
		width: 100%;
		height: 100%;
	}
}