@font-face {
  font-family: 'SeldomScene';
  src: url('SeldomScene.eot');
  src: url('SeldomScene.eot?#iefix') format('embedded-opentype'),
       url('SeldomScene.svg#SeldomScene') format('svg'),
       url('SeldomScene.ttf') format('truetype'),
       url('SeldomScene.woff') format('woff'),
       url('SeldomScene.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

