@import "~sass-autoprefixer/scss/prefixes";

:host {
	width: 100%;
}

.select-wrap {
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
	@include vp-flexbox;
	@include vp-align-items(center);
	@include vp-justify-content(space-between);
	cursor: pointer;
	
	.select-wrap__value {
		display: block;
		@include vp-flexbox;
		@include vp-align-items(center);
		cursor: pointer;
		height: 100%;
		overflow: hidden;
		@include vp-flex(0, 1, 100%);
		margin-right: 10px;
		
		.select-wrap__value-second {
			font-size: 12px;
			color: lighten(#000000, 50);
			padding-top: 2px;
		}
	}
	
	&.select-wrap--selected {
		
		.select-wrap__default {
			display: none;
		}
		
		.select-wrap__value {
			display: block;
		}
	}
	
	.select-wrap__caret {
		width: 10px;
		height: 0.875rem;
		@include vp-flex(0, 0, 10px);
		display: flex;
		align-items: center;
		
		span,
		.icon {
			display: block;
		}
	}
	
	.select-wrap__options {
		display: none;
		min-width: 100%;
		max-height: 350px;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 9998;
		background-color: #ffffff;
		border: 1px solid lighten(#000000, 85);
		overflow: scroll;
		box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
		
		.select-wrap__option {
			display: block;
			font-size: 0.875rem;
			line-height: 1;
			padding: 0.875rem 0.625rem;
			margin: 0;
			cursor: pointer;
			
			& + .select-wrap__option {
				border-top: 1px solid lighten(#000000, 85);
			}
			
			&:hover,
			&:active,
			&:focus {
				background-color: #D8D8D8;
			}
			
			.select-wrap__option-second {
				font-size: 12px;
				color: lighten(#000000, 50);
				padding-top: 2px;
			}
		}
		
		.select-wrap__default {
			display: block;
			font-size: 0.875rem;
			line-height: 1;
			padding: 0.875rem 0.625rem;
			margin: 0;
			cursor: pointer;
			color: lighten(#000000, 50);
			text-align: center;
		}
		
		&.select-wrap__options--lifesearch {
			padding-top: 64px;
		}
	}
	
	.select-wrap__search {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		max-width: 100%;
		padding: 0.875rem 0.625rem;
		z-index: 9999;
		background-color: #ffffff;
		border-left: 1px solid lighten(#000000, 85);
		border-right: 1px solid lighten(#000000, 85);
		border-top: 1px solid lighten(#000000, 85);
		
		
		.select-wrap__search-field {
			display: block;
			width: 100%;
			background-color: #ffffff;
			border-radius: 0;
			border: 1px solid #d9d9d9;
			font-size: 0.875rem;
			font-weight: 400;
			height: 36px;
			padding-left: 10px;
			padding-right: 10px;
			
			&:focus {
				outline: none;
			}
		}
	}
	
	&.select-wrap--open {
		
		.select-wrap__options {
			display: block;
		}
		
		.select-wrap__search {
			display: block;
		}
	}
}
