/*
Theme Name: Template
Theme URI: https://AGorkovenko@bitbucket.org/
Author: Andrii Gorkovenko
Author URI: https://gorkovenko.net/
Version: 1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: TEXTDOMAIN
*/
/* http://meyerweb.com/eric/tools/css/reset/ v4.0 | 20180602 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] { display: none; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/** Grid */
/** Font */
/** Background */
/** Colors */
.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

.text-left { text-align: left !important; }

.text-dark { color: #000000; }

.text-main { color: #555555; }

.text-light { color: #FFFFFF; }

.text-danger { color: #ec3d24; }

.text-warning { color: #ffe301; }

.text-success { color: #0AA06E; }

.text-info { color: #0099CC; }

.text-small { font-size: 14px; }

.text-uppercase { text-transform: uppercase; }

.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

@media (min-width: 767px) { .container { max-width: 720px; } }

@media (min-width: 1279px) { .container { max-width: 1200px; } }

.container-fluid { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: Rubik, serif; font-size: 16px; line-height: 1.5714; color: #555555; font-weight: 400; background-color: #F6F6F6; }

img { max-width: 100%; max-height: 100%; }

a { color: #0099CC; }

a:hover { text-decoration: none; color: #0099CC; }

p { margin: 0 0 20px 0; }

.pt { padding-top: 30px !important; }

.pb { padding-bottom: 30px !important; }

.mt { margin-top: 30px !important; }

.mb { margin-bottom: 30px !important; }

.ml { margin-left: 30px !important; }

.mr { margin-right: 30px !important; }

.pt-0 { padding-top: 0 !important; }

.pb-0 { padding-bottom: 0 !important; }

.mt-0 { margin-top: 0 !important; }

.mb-0 { margin-bottom: 0 !important; }

h1 { font-size: 32px; line-height: 36px; color: #000000; font-weight: 500; margin: 0 0 20px; padding: 0; }

h2 { font-size: 28px; line-height: 33px; color: #000000; font-weight: 500; margin: 0 0 20px; padding: 0; text-transform: uppercase; }

h2 span { font-weight: 300; }

h3 { font-size: 20px; line-height: 28px; color: #000000; font-weight: 500; margin: 0 0 15px; padding: 0; }

h3 span { font-weight: 300; }

h4 { font-size: 16px; line-height: 19px; color: #000000; font-weight: 500; margin: 0 0 20px; padding: 0; text-transform: uppercase; }

h4 span { font-weight: 300; }

.visuallyhidden { display: none; }

table { width: 100%; border-top: 1px solid #D6D6D6; font-size: 18px; color: #000000; background-color: #FFFFFF; border-radius: 2px; }

table td, table th { padding: 5px 10px; border-bottom: 1px solid #D6D6D6; border-left: 1px solid #D6D6D6; }

table td:last-child, table th:last-child { border-right: 1px solid #D6D6D6; }

table thead th { font-weight: 500; background-color: #F6F6F6; text-align: center; vertical-align: center; }

table tbody th { text-align: left; color: #000000; border-bottom: 1px solid #D6D6D6; }

table tbody th + th { border-left: 1px solid #D6D6D6; }

table tbody th + td { border-left: 1px solid #D6D6D6; }

table tbody td { color: #555555; }

table tfoot td { border: none; }

table tfoot td:last-child { border-right: none; }

.cursor-link { cursor: pointer; }

.icon { display: inline-block; vertical-align: top; max-width: 100%; max-height: 100%; fill: currentColor; stroke: currentColor; stroke-width: 0; }

.button { display: block; background: transparent none; width: 100%; height: 40px; padding: 13px 20px; margin: 0; text-decoration: none; font-size: 14px; line-height: 1; font-family: Rubik, serif; font-weight: 400; cursor: pointer; text-transform: none; border: 1px solid transparent; border-radius: 2px; -webkit-box-shadow: none; box-shadow: none; text-align: center; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.button:hover { text-decoration: none; }

.button + .button { margin-left: 20px; }

.button.button--md { height: 50px; padding-top: 17px; }

.button.button--inline { display: inline-block; width: auto; min-width: 0; padding-left: 20px; padding-right: 20px; min-height: 40px; }

.button.button--link { display: inline-block; width: auto; min-width: 0; padding: 0; line-height: inherit; font-size: inherit; color: #000000; text-decoration: underline; }

.button.button--link:hover { text-decoration: none; color: #ec3d24; text-decoration: none; }

.button.button--uppercase { text-transform: uppercase; }

.button.button--icon { padding-left: 50px; position: relative; }

.button.button--icon .icon { position: absolute; top: 8px; left: 15px; display: block; vertical-align: top; width: 26px; height: 26px; }

.button.button--default { color: #FFFFFF; background-color: #555555; border-color: #555555; }

.button.button--default:hover { color: #555555; background-color: #626262; border-color: #626262; }

.button.button--default:focus, .button.button--default:active { color: #555555; background-color: #484848; border-color: #484848; }

.button.button--outline-default { background-color: transparent; color: #555555; border-color: #555555; }

.button.button--outline-default:hover { color: #FFFFFF; background-color: #626262; border-color: #626262; }

.button.button--outline-default:focus, .button.button--outline-default:active { color: #FFFFFF; background-color: #484848; border-color: #484848; }

.button.button--dark { color: #FFFFFF; background-color: #000000; border-color: #000000; }

.button.button--dark:hover { color: #FFFFFF; background-color: #0d0d0d; border-color: #0d0d0d; }

.button.button--dark:focus, .button.button--dark:active { color: #FFFFFF; background-color: black; border-color: black; }

.button.button--outline-dark { background-color: transparent; color: #000000; border-color: #000000; }

.button.button--outline-dark:hover { color: #FFFFFF; background-color: #0d0d0d; border-color: #0d0d0d; }

.button.button--outline-dark:focus, .button.button--outline-dark:active { color: #FFFFFF; background-color: black; border-color: black; }

.button.button--danger { color: #FFFFFF; background-color: #ec3d24; border-color: #ec3d24; }

.button.button--danger:hover { color: #FFFFFF; background-color: #ee523b; border-color: #ee523b; }

.button.button--danger:focus, .button.button--danger:active { color: #FFFFFF; background-color: #e32e14; border-color: #e32e14; }

.button.button--outline-danger { background-color: transparent; color: #ec3d24; border-color: #ec3d24; }

.button.button--outline-danger:hover { color: #FFFFFF; background-color: #ee523b; border-color: #ee523b; }

.button.button--outline-danger:focus, .button.button--outline-danger:active { color: #FFFFFF; background-color: #e32e14; border-color: #e32e14; }

.button.button--field { color: #FFFFFF; background-color: #D6D6D6; border-color: #D6D6D6; }

.button.button--field:hover { color: #FFFFFF; background-color: #e3e3e3; border-color: #e3e3e3; }

.button.button--field:focus, .button.button--field:active { color: #FFFFFF; background-color: #c9c9c9; border-color: #c9c9c9; }

.button.button--outline-field { background-color: transparent; color: #D6D6D6; border-color: #D6D6D6; }

.button.button--outline-field:hover { color: #FFFFFF; background-color: #e3e3e3; border-color: #e3e3e3; }

.button.button--outline-field:focus, .button.button--outline-field:active { color: #FFFFFF; background-color: #c9c9c9; border-color: #c9c9c9; }

.image { display: block; width: 100%; height: 100%; background-color: #ffffff; background-image: none; background-repeat: no-repeat; background-position: center center; background-size: cover; }

.image img { -o-object-fit: cover; object-fit: cover; width: 100%; height: 100%; }

.image.image-transparent { background-color: inherit; }

.image.image--thumb { background-size: contain; }

.image.image--thumb img { -o-object-fit: contain; object-fit: contain; }

.form.form--invalid .form-element.ng-invalid { border-color: #F71818; }

.form.form--invalid .ng-invalid .form-element { border-color: #F71818; }

label { display: block; font-size: 14px; margin: 0 0 10px; }

label sup { color: #ec3d24; margin-left: 5px; }

.form-columns { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 -15px; }

.form-columns.form-columns--top { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.form-columns .form-line { width: 100%; padding: 0 15px; }

@media all and (min-width: 767px) { .form-columns { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

.form-line { margin: 0 0 20px; }

.form-line.form-line--inline { display: -webkit-box; display: -ms-flexbox; display: flex; }

.form-line.form-line--inline label { margin-right: 10px; }

.form-line.form-line--last { margin-bottom: 0; }

.form-line.form-line--right { text-align: right; }

.form-element { display: block; background-color: #FFFFFF; width: 100%; height: 40px; border: 1px solid #D6D6D6; outline: none; padding: 0 15px; margin: 0; font-size: 14px; text-align: left; -webkit-box-shadow: none; box-shadow: none; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.form-element::-webkit-input-placeholder { color: #D6D6D6; }

.form-element:-moz-placeholder { color: #D6D6D6; }

.form-element::-moz-placeholder { color: #D6D6D6; }

.form-element:-ms-input-placeholder { color: #D6D6D6; }

.form-element.form-element--textarea { min-height: 110px; resize: none; padding-top: 10px; padding-bottom: 10px; }

.form-element.form-element--error { border-color: #ec3d24; }

.checkbox { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; padding-left: 35px; cursor: pointer; }

.checkbox:before { display: block; width: 20px; height: 20px; content: ''; border: 1px solid #D6D6D6; position: absolute; top: 0; left: 0; cursor: pointer; z-index: 1; }

.checkbox:after { display: none; width: 10px; height: 10px; content: ''; background-color: #000000; position: absolute; top: 6px; left: 6px; cursor: pointer; z-index: 2; }

.checkbox input { width: 20px; height: 20px; position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer; z-index: 3; }

.checkbox label { padding-top: 2px; cursor: pointer; }

.checkbox label img { width: auto; height: auto; max-height: 20px; }

.checkbox.checkbox--checked:before { border-color: #555555; }

.checkbox.checkbox--checked:after { display: block; }

.checkbox:hover label { color: #000000; }

.checkbox.checkbox--error:before { border-color: #ec3d24; }

.radio { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; cursor: pointer; }

.radio:before { display: block; width: 20px; height: 20px; content: ''; border: 1px solid #D6D6D6; border-radius: 50%; position: absolute; top: 0; left: 0; z-index: 2; cursor: pointer; }

.radio:after { display: none; width: 10px; height: 10px; content: ''; background-color: #ec3d24; border-radius: 50%; position: absolute; top: 6px; left: 6px; z-index: 2; cursor: pointer; }

.radio input { width: 20px; height: 20px; position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer; }

.radio label { padding-left: 35px; padding-top: 2px; cursor: pointer; position: relative; z-index: 4; }

.radio label img { display: block; width: auto; height: 20px; }

.radio.radio--checked:before { border-color: #555555; }

.radio.radio--checked:after { display: block; }

.radio:hover label { color: #000000; }

.radio.radio--error:before { border-color: #ec3d24; }

.form-help { font-size: 12px; color: #D6D6D6; margin-top: 10px; }

.select { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; position: relative; }

.select.select--finder { height: 50px; border: none; }

.select.select--finder .select__value { font-size: 16px; }

.select .select__value { width: 100%; color: #000000; cursor: pointer; margin-right: 10px; overflow: hidden; white-space: normal; }

.select .select__value-first { line-height: 1; white-space: nowrap; }

.select .select__value-second { line-height: 1; font-size: 12px; color: #555555; }

.select .select__caret { width: 10px; height: 10px; color: #000000; }

.select .select__search { display: none; position: absolute; top: 100%; left: 0; width: 100%; padding: 20px; background-color: #FFFFFF; border: 1px solid #D6D6D6; z-index: 2; }

.select .select__options { display: none; position: absolute; top: 100%; left: 0; min-width: 100%; max-height: 226px; overflow: scroll; background-color: #FFFFFF; border: 1px solid #D6D6D6; padding: 0; z-index: 1; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.select.search--life.select--open .select__search { display: block; }

.select.search--life .select__options { padding-top: 80px; max-height: 306px; }

.select .select__option { padding: 15px 20px; line-height: 1; cursor: pointer; color: #555555; }

.select .select__option .select__option-fisrt { line-height: 1; white-space: nowrap; }

.select .select__option .select__option-second { line-height: 1; font-size: 12px; color: #D8D8D8; }

.select .select__option + .select__option { border-top: 1px solid #F4F4F4; }

.select .select__option:hover { color: #000000; background-color: #F4F4F4; }

.select .select__option:hover .select__option-second { color: #555555; }

.select.select--open .select__options { display: block; }

.top { background-color: #555555; color: #FFFFFF; }

.top-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

@media all and (min-width: 1279px) { .top-wrap { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

.top-left { display: none; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

@media all and (min-width: 1279px) { .top-left { display: -webkit-box; display: -ms-flexbox; display: flex; width: auto; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } }

.top-socials { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-item-align: center; align-self: center; }

.top-socials .socials .social-link { width: 18px; height: 18px; }

.top-contact { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media all and (min-width: 767px) { .top-contact { margin-left: 60px; } }

.top-contact .top-contact__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: auto; color: #D6D6D6; height: 22px; font-size: 12px; line-height: 22; -webkit-transition: 0.2s; transition: 0.2s; white-space: nowrap; text-decoration: none; }

.top-contact .top-contact__item span { display: none; margin-left: 10px; }

@media all and (min-width: 767px) { .top-contact .top-contact__item span { display: block; } }

.top-contact .top-contact__item .icon { width: 18px; height: 18px; }

.top-contact .top-contact__item:hover { color: #FFFFFF; }

.top-contact .top-contact__item + .top-contact__item { margin-left: 20px; }

@media all and (min-width: 767px) { .top-contact .top-contact__item + .top-contact__item { margin-left: 30px; } }

.top-right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

@media all and (min-width: 1279px) { .top-right { width: auto; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } }

.top-currency { margin-left: 10px; margin-right: auto; }

.top-user { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 30px; }

.top-user .top-user__button { padding: 0 8px; }

.top-user .top-user__button + .top-user__button { border-left: 1px solid #FFFFFF; }

.top-user .top-user__button.top-user__button--signup { display: none; }

@media all and (min-width: 767px) { .top-user .top-user__button.top-user__button--signup { display: block; } }

.top-user-button { display: -webkit-box; display: -ms-flexbox; display: flex; white-space: nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border: none; background: transparent none; font-size: 12px; text-transform: uppercase; color: #FFFFFF; cursor: pointer; -webkit-transition: 0.2s; transition: 0.2s; padding: 0; margin: 0; }

.top-user-button .top-user-button__icon { width: 18px; height: 18px; margin-right: 5px; }

.top-user-button span { display: none; }

@media all and (min-width: 767px) { .top-user-button span { display: block; } }

.top-user-button:hover { color: #ec3d24; }

.top-dropdown { height: 34px; font-size: 12px; line-height: 1; position: relative; z-index: 989; }

.top-dropdown .top-dropdown-current { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #FFFFFF; cursor: pointer; padding: 0 10px; -webkit-transition: 0.2s; transition: 0.2s; }

.top-dropdown .top-dropdown-current .top-dropdown-current__name { margin-right: 10px; }

.top-dropdown .top-dropdown-current .top-dropdown-current__toggle { width: 7px; height: 34px; }

.top-dropdown .top-dropdown-current:hover { background-color: #FFFFFF; color: #000000; }

.top-dropdown .top-dropdown-list { display: none; position: absolute; top: 100%; left: 0; min-width: 100%; border: 1px solid #F4F4F4; z-index: 999; background-color: #ffffff; }

.top-dropdown .top-dropdown-list .top-dropdown-list__item { display: block; line-height: 1; padding: 15px 10px; color: #555555; cursor: pointer; -webkit-transition: 0.2s; transition: 0.2s; text-decoration: none; }

.top-dropdown .top-dropdown-list .top-dropdown-list__item + .top-dropdown-list__item { border-top: 1px solid #F4F4F4; }

.top-dropdown .top-dropdown-list .top-dropdown-list__item.top-dropdown-list__item--active { color: #000000; cursor: default; }

.top-dropdown .top-dropdown-list .top-dropdown-list__item:hover { color: #000000; }

.top-dropdown.top-dropdown--open .top-dropdown-current { background-color: #FFFFFF; color: #000000; }

.top-dropdown.top-dropdown--open .top-dropdown-list { display: block; }

header { padding: 15px 0; background-color: #FFFFFF; }

.head { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.head-logo { width: 320px; height: 40px; color: #000000; }

@media all and (min-width: 1279px) { .head-logo { width: 400px; height: 50px; } }

.head-search { display: none; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding: 0 50px; }

@media all and (min-width: 1279px) { .head-search { display: block; } }

.head-cart { margin-right: 20px; }

@media all and (min-width: 767px) { .head-cart { margin-right: 0; } }

.logo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: #000000; width: 100%; height: 100%; }

.cart-mini { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; -webkit-box-align: center; -ms-flex-align: center; align-items: center; cursor: pointer; }

.cart-mini .icon { width: 28px; height: 28px; color: #000000; }

.cart-mini .cart-mini__count { -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; top: -5px; left: 20px; min-width: 18px; height: 18px; text-align: center; font-size: 14px; line-height: 1; padding: 3px 0 0; background-color: #ec3d24; color: #FFFFFF; border-radius: 50%; }

.cart-mini .cart-mini__total { display: none; font-size: 14px; font-weight: 500; color: #000000; padding-left: 20px; }

@media all and (min-width: 767px) { .cart-mini .cart-mini__total { display: block; } }

.cart-mini.cart-mini--open .cart-mini-content { display: block; }

.cart-mini-content { display: none; position: absolute; top: calc(100% + 10px); right: 0; z-index: 999; width: 300px; background-color: #FFFFFF; -webkit-box-shadow: 0 -1px 12px -6px rgba(0, 0, 0, 0.5); box-shadow: 0 -1px 12px -6px rgba(0, 0, 0, 0.5); }

.cart-mini-content:before { display: block; content: ''; position: absolute; top: -10px; right: 15px; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 5px solid transparent; border-bottom: 5px solid #FFFFFF; }

.cart-mini-content .cart-mini-content__head { font-size: 14px; font-weight: 500; text-transform: uppercase; color: #555555; padding: 15px 20px; border-bottom: 1px solid #D8D8D8; }

.cart-mini-content .cart-mini-content__products { padding: 15px 20px; }

.cart-mini-content .cart-mini-content__total { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; border-top: 1px solid #D8D8D8; padding: 15px 20px; padding-bottom: 0; font-size: 14px; }

.cart-mini-content .cart-mini-content__buttons { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 15px 20px; }

.cart-mini-product { display: -webkit-box; display: -ms-flexbox; display: flex; }

.cart-mini-product + .cart-mini-product { margin-top: 10px; }

.cart-mini-product .cart-mini-product__thumb { -ms-flex-negative: 0; flex-shrink: 0; width: 60px; height: 60px; }

.cart-mini-product .cart-mini-product__info { margin-left: 20px; }

.cart-mini-product-info { font-weight: 400; }

.cart-mini-product-info .cart-mini-product-info__name { display: block; color: #000000; font-size: 12px; text-decoration: none; }

.cart-mini-product-info .cart-mini-product-info__name:hover { text-decoration: underline; }

.cart-mini-product-info .cart-mini-product-info__qty { font-size: 14px; color: #555555; margin-top: 5px; }

.subtotal-price { font-weight: 500; }

.search { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; }

.search .search__field { display: block; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; border: 1px solid #D6D6D6; border-radius: 4px 0 0 4px; background-color: #FFFFFF; height: 40px; -webkit-box-shadow: none; box-shadow: none; padding: 0 15px; margin: 0; font-size: 14px; color: #000000; outline: none; }

.search .search__field::-webkit-input-placeholder { color: #D6D6D6; }

.search .search__field:-moz-placeholder { color: #D6D6D6; }

.search .search__field::-moz-placeholder { color: #D6D6D6; }

.search .search__field:-ms-input-placeholder { color: #D6D6D6; }

.search .search__button { height: 40px; background-color: #D6D6D6; border: 1px solid #D6D6D6; border-radius: 0 4px 4px 0; font-size: 14px; text-transform: uppercase; font-weight: 500; color: #FFFFFF; width: 100px; text-align: center; padding: 0 10px; margin: 0; cursor: pointer; color: #FFFFFF; background-color: #D6D6D6; border-color: #D6D6D6; }

.search .search__button:hover { color: #FFFFFF; background-color: #e3e3e3; border-color: #e3e3e3; }

.search .search__button:focus, .search .search__button:active { color: #FFFFFF; background-color: #c9c9c9; border-color: #c9c9c9; }

.nav-menu { background-color: #F4F4F4; }

.menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; position: relative; z-index: 980; }

@media all and (min-width: 767px) { .menu { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } }

.menu-main { display: none; }

@media all and (min-width: 767px) { .menu-main { display: -webkit-box; display: -ms-flexbox; display: flex; } }

.menu-main .menu-main__item.menu-main__item--active .menu-link { cursor: default; color: #ec3d24; background-color: transparent; }

.menu-main .menu-main__item.menu-main__item--active .menu-link:hover { color: #ec3d24; background-color: transparent; }

.menu-main .menu-main__item.menu-main__item--parent { position: relative; z-index: 999; }

.menu-main .menu-main__item.menu-main__item--parent:hover .menu-link { background-color: #000000; color: #FFFFFF; }

.menu-main .menu-main__item.menu-main__item--parent:hover .submenu { display: block; }

.menu-link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #000000; text-decoration: none; text-transform: uppercase; font-size: 16px; padding: 0 10px; height: 50px; width: 100%; font-weight: 500; -webkit-transition: 0.1s; transition: 0.1s; }

.menu-link:hover { background-color: #000000; color: #FFFFFF; }

.menu-link .icon { width: 10px; height: 10px; margin-left: 5px; }

.menu-link.menu-link--mobile { padding: 0 15px; cursor: pointer; }

.menu-link.menu-link--mobile .icon { width: 20px; height: 20px; margin-left: 0; margin-right: 5px; }

@media all and (min-width: 1279px) { .menu-link { padding: 0 15px; } }

.submenu { display: none; position: absolute; top: 100%; left: -1px; z-index: 99; white-space: nowrap; background-color: #FFFFFF; border: 1px solid #F4F4F4; min-width: 100%; }

.submenu .submenu__item + .submenu__item { border-top: 1px solid #F4F4F4; }

.submenu .submenu__item.submenu__item--active .submenu-link { cursor: default; background-color: transparent; color: #ec3d24; -webkit-transition: 0.1s; transition: 0.1s; }

.submenu .submenu__item.submenu__item--active .submenu-link:hover { background-color: transparent; color: #ec3d24; }

.submenu-link { display: block; padding: 12px 18px; font-size: 14px; color: #81858C; text-decoration: none; }

.submenu-link:hover { color: #000000; background-color: #F4F4F4; text-decoration: none; }

.menu-mobile { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media all and (min-width: 767px) { .menu-mobile { display: none; } }

.menu-mobile .menu-mobile__item { position: relative; }

.menu-mobile .menu-mobile__item.menu-mobile__item--open .menu-link { background-color: #000000; color: #FFFFFF; }

.menu-mobile .menu-mobile__item.menu-mobile__item--open .submenu { display: block; left: auto; right: 0; }

.menu-categories { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #FFFFFF; background-color: #000000; text-decoration: none; text-transform: uppercase; font-size: 16px; font-weight: 500; -webkit-transition: 0.1s; transition: 0.1s; cursor: pointer; padding: 0 15px; height: 50px; width: 212px; }

.menu-categories:hover, .menu-categories.menu-categories--open { color: #FFFFFF; background-color: #ec3d24; }

.menu-categories.menu-categories--open .menu-categories__dropdown { display: -webkit-box; display: -ms-flexbox; display: flex; }

.menu-categories span { margin: 0 5px 0 15px; }

.menu-categories .icon { width: 10px; height: 10px; }

.menu-categories .icon.icon--humburger { width: 18px; height: 18px; }

.menu-categories .menu-categories__dropdown { display: none; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; width: 100%; height: 100%; overflow: hidden; position: fixed; top: 0; left: 0; z-index: 9999; background-color: #F4F4F4; -webkit-box-shadow: 0 -3px 10px -7px rgba(0, 0, 0, 0.5); box-shadow: 0 -3px 10px -7px rgba(0, 0, 0, 0.5); }

@media all and (min-width: 767px) { .menu-categories .menu-categories__dropdown { position: absolute; top: 100%; z-index: 99; height: auto; } }

.menu-categories .menu-categories-close { position: absolute; top: 0; left: 0; z-index: 10; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 40%; height: 54px; padding: 0 18px; color: #000000; border-bottom: 1px solid #F4F4F4; background-color: #FFFFFF; cursor: pointer; }

.menu-categories .menu-categories-close:hover { color: #ec3d24; }

.menu-categories .menu-categories-close .icon { width: 20px; height: 20px; }

@media all and (min-width: 767px) { .menu-categories .menu-categories-close { display: none; } }

.categories-list { width: 40%; height: 100%; overflow: scroll; background-color: #FFFFFF; -webkit-box-shadow: 0 -3px 10px -7px rgba(0, 0, 0, 0.5); box-shadow: 0 -3px 10px -7px rgba(0, 0, 0, 0.5); padding-top: 54px; }

.categories-list .categories-list__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: 54px; font-size: 14px; line-height: 1; color: #81858C; font-weight: 400; padding: 0 18px; text-transform: none; white-space: normal; cursor: pointer; }

.categories-list .categories-list__item span { padding: 0; margin: 0; }

.categories-list .categories-list__item + .categories-list__item { border-top: 1px solid #F4F4F4; }

.categories-list .categories-list__item:hover { color: #000000; }

.categories-list .categories-list__item.categories-list__item--active { color: #000000; background-color: #F4F4F4; }

@media all and (min-width: 767px) { .categories-list { padding-top: 0; width: 212px; height: auto; overflow: auto; } }

.categories-sublist { display: none; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 60%; height: 100%; overflow: scroll; padding: 10px 0; }

.categories-sublist.categories-sublist--open { display: block; }

@media all and (min-width: 767px) { .categories-sublist { overflow: auto; width: calc(100% - 212px); height: auto; }
  .categories-sublist.categories-sublist--open { display: -webkit-box; display: -ms-flexbox; display: flex; } }

@media all and (min-width: 1279px) { .categories-sublist { padding: 15px 30px; } }

.sublist { width: 100%; padding: 0 20px 15px; }

@media all and (min-width: 767px) { .sublist { width: 50%; } }

@media all and (min-width: 1279px) { .sublist { width: 33.3333%; } }

.sublist .sublist__name { display: block; font-size: 12px; text-transform: uppercase; color: #000000; font-weight: 500; border-bottom: 1px solid #D8D8D8; padding: 10px 0 15px 10px; margin-bottom: 10px; text-decoration: none; }

.sublist .sublist__link { display: block; color: #81858C; font-weight: 400; font-size: 12px; line-height: 1; padding: 8px 0 8px 10px; text-decoration: none; }

.sublist .sublist__link:hover { color: #000000; }

.menu-footer-links { display: block; padding: 0; margin: 0; }

.menu-footer-links .menu-footer-links__item { display: block; padding: 0; margin: 0; }

.menu-footer-links .menu-footer-links__item + .menu-footer-links__item { margin-top: 10px; }

.menu-footer-links .menu-footer-links__item .menu-footer-link { color: #FFFFFF; -webkit-transition: 0.2s; transition: 0.2s; }

.menu-footer-links .menu-footer-links__item .menu-footer-link:hover { color: #FFFFFF; text-decoration: underline; }

.slider { height: 520px; background-color: #D8D8D8; background-position: center; background-repeat: no-repeat; background-size: cover; }

.slider .slider__wrap { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.slider .slider__wrap .container { width: 100%; text-align: center; }

.slider-title { color: #FFFFFF; font-size: 36px; margin-bottom: 40px; line-height: 1; font-family: 'SeldomScene', serif; }

@media all and (min-width: 767px) { .slider-title { font-size: 56px; margin-bottom: 80px; } }

.slider-finder { width: 100%; }

.finder { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.finder .finder__column { width: 100%; padding: 10px 0; }

.finder .finder__column.finder__column--last { width: 100%; }

@media all and (min-width: 767px) { .finder { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  .finder .finder__column { width: 100%; padding: 0 5px; }
  .finder .finder__column.finder__column--last { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-negative: 0; flex-shrink: 0; width: 150px; } }

.block { padding: 40px 0 20px; }

.block__name { border-bottom: 1px solid #D8D8D8; margin-bottom: 30px; }

.block-row { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 -15px; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.block-row .block-column { width: 100%; margin-bottom: 30px; -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; }

@media all and (min-width: 767px) { .block-row .block-column { width: 50%; } }

@media all and (min-width: 1279px) { .block-row.block-row--2 .block-column { width: 50%; } }

@media all and (min-width: 1279px) { .block-row.block-row--3 .block-column { width: 33.3333%; } }

@media all and (min-width: 1279px) { .block-row.block-row--4 .block-column { width: 25%; margin-bottom: 0; } }

.block-row.block-row--m .block-column { margin: 0; }

.block-column { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; width: 100%; padding: 0 15px; }

.box { width: 100%; padding: 20px; background-color: #FFFFFF; }

.box.box--flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

.box.box--half { width: 100%; }

@media all and (min-width: 767px) { .box.box--half { width: 50%; margin-left: auto; margin-right: auto; } }

.box.box--p { padding: 0; }

.more { text-align: left; margin-top: 20px; }

.more .more__link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #ec3d24; }

.more .more__link .icon { width: 10px; height: 10px; margin-left: 5px; }

.more .more__link:hover { text-decoration: none; }

.fast-category { display: block; background-color: #FFFFFF; text-decoration: none; text-align: center; color: #000000; }

.fast-category .fast-category__cover { height: 200px; }

.fast-category .fast-category__name { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; font-size: 16px; line-height: 1; font-weight: 500; height: 50px; }

.popular-category { display: -webkit-box; display: -ms-flexbox; display: flex; }

.popular-category .box { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

.popular-category .popular-category__cover { width: 50%; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-negative: 0; flex-shrink: 0; }

.popular-category .popular-category__list { width: 100%; padding-left: 20px; }

.popular-category-list { display: block; padding: 0; margin: 0; }

.popular-category-list li { padding: 0; margin: 0; }

.popular-category-list li + li { margin-top: 5px; }

.popular-category-list li a { color: #555555; text-decoration: none; }

.popular-category-list li a:hover { text-decoration: underline; }

.product-card .product-card__thumb { width: 100%; height: 0; padding-bottom: 100%; position: relative; }

.product-card .product-card__thumb .image { position: absolute; top: 0; left: 0; }

.product-card .product-card__info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding-top: 20px; height: 150px; }

.product-card-name { text-transform: none; color: #000000; margin-bottom: 0; }

.product-card-name a { color: inherit; text-decoration: none; -webkit-transition: 0.2s; transition: 0.2s; }

.product-card-name a:hover { color: #ec3d24; }

.product-card-review { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 10px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.product-card-review .product-card-review__stars { margin-right: 10px; }

.product-card-review .product-card-review__count { font-size: 12px; color: #555555; font-weight: 500; }

.product-card-review .product-card-review__count span { margin-right: 5px; }

.product-card__foot { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: auto; }

.product-card-price { font-size: 20px; line-height: 1; white-space: nowrap; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.product-card-price .product-card-price__regular { color: #000000; font-weight: 500; }

.product-card-price .product-card-price__other { font-size: 14px; color: #D6D6D6; font-weight: 400; }

.product-card-price .product-card-price__other.product-card-price__other--old { text-decoration: line-through; }

.product-card-stock { color: #0AA06E; }

.product-card-stock.product-card-stock--not-available { color: #ec3d24; }

.product-card-cart { border: none; background: transparent none; width: 25px; height: 25px; padding: 0; margin: 0; color: #555555; cursor: pointer; -webkit-transition: 0.2s; transition: 0.2s; }

.product-card-cart:hover { color: #000000; }

.stars { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; height: 16px; }

.stars .stars__star { width: 16px; height: 16px; color: #EBE9E9; -webkit-transition: 0.2s; transition: 0.2s; }

.stars .stars__star + .stars__star { margin-left: 0; }

.stars .stars__star.stars__star--filled { color: #ffe301; }

.stars.stars--active .stars__star { cursor: pointer; }

.stars.stars--active:hover .stars__star { color: #ffe301; }

.stars.stars--active:hover .stars__star:hover ~ .stars__star { color: #EBE9E9; }

.news-card { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.news-card .news-card__cover { width: 100%; }

.news-card .news-card__info { width: 100%; line-height: 1.2; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

@media all and (min-width: 1279px) { .news-card { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  .news-card .news-card__cover { width: 40%; }
  .news-card .news-card__info { width: 60%; padding-left: 20px; } }

.news-card-cover { position: relative; width: 100%; height: 0; padding-bottom: 75%; }

.news-card-cover .image { position: absolute; top: 0; left: 0; }

@media all and (min-width: 1279px) { .news-card-cover { padding-bottom: 120%; } }

.news-card-date { font-size: 12px; font-weight: 400; color: #ec3d24; text-transform: uppercase; margin-bottom: 10px; margin-top: 10px; }

.news-card-title { font-size: 20px; color: #000000; margin-bottom: 20px; }

.news-card-title a { display: block; color: #000000; text-decoration: none; }

.news-card-title a:hover { text-decoration: underline; }

.news-card-excerpt { font-size: 16px; font-weight: 400; margin-bottom: 20px; }

.news-card-foot { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: auto; }

.news-card-view { color: #555555; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.news-card-view .icon { width: 27px; height: 27px; margin-right: 5px; }

.info-block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 auto; width: auto; }

.info-block .info-block__icon { width: 50px; height: 50px; -ms-flex-negative: 0; flex-shrink: 0; color: #ec3d24; }

.info-block.info-block--add { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.info-block.info-block--add .info-block__icon { width: auto; color: #D6D6D6; margin-bottom: 10px; }

.info-block.info-block--add .info-block__name { margin-left: 0; }

.info-block.info-block--add .info-block-name-first { color: #000000; line-height: 1; text-align: center; }

.info-block__name { margin-left: 30px; }

.info-block-name-first { font-size: 14px; font-weight: 500; color: #000000; text-transform: uppercase; }

.info-block-name-second { font-size: 12px; font-weight: 400; color: #555555; }

footer { background-color: #555555; padding: 50px 0 30px; margin: 40px 0 0; color: #FFFFFF; }

footer a { color: #FFFFFF; text-decoration: none; }

.footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -15px; }

.footer .footer__column { -ms-flex-negative: 0; flex-shrink: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding: 0 15px; margin-bottom: 40px; }

.footer .footer__column.footer__column--first { width: 100%; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }

.footer .footer__column.footer__column--second { width: 100%; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }

.footer .footer__column.footer__column--third { width: 100%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

@media all and (min-width: 767px) { .footer .footer__column.footer__column--first { width: 50%; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .footer .footer__column.footer__column--second { width: 100%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .footer .footer__column.footer__column--third { width: 50%; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; } }

@media all and (min-width: 1279px) { .footer .footer__column.footer__column--first { width: 33.3333%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .footer .footer__column.footer__column--second { width: 33.3333%; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  .footer .footer__column.footer__column--third { width: 33.3333%; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; } }

.footer h4 { color: #FFFFFF; }

.footer-menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 0 -15px; }

@media all and (min-width: 319px) { .footer-menu { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

.footer-menu .footer-menu__links { width: 100%; padding: 0 15px; }

.footer-form label { color: #FFFFFF; }

.footer-form .form-element { background-color: transparent; border-color: #FFFFFF; color: #FFFFFF; }

.footer-form .form-element:focus { border-color: #FFFFFF; }

.footer-form .form-element::-webkit-input-placeholder { border-color: #FFFFFF; }

.footer-form .form-element:-moz-placeholder { border-color: #FFFFFF; }

.footer-form .form-element::-moz-placeholder { border-color: #FFFFFF; }

.footer-form .form-element:-ms-input-placeholder { border-color: #FFFFFF; }

.subfooter { color: #FFFFFF; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media all and (min-width: 767px) { .subfooter { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

.copyright { font-size: 14px; color: #FFFFFF; font-weight: 300; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }

@media all and (min-width: 767px) { .copyright { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } }

.subfooter-icons { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; margin-bottom: 20px; margin-top: 20px; }

.subfooter-icons .subfooter-icon { height: 30px; }

.subfooter-icons .subfooter-icon + .subfooter-icon { margin-left: 10px; }

.subfooter-icons .subfooter-icon img { display: block; height: 100%; width: auto; }

@media all and (min-width: 767px) { .subfooter-icons { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; margin: 0; } }

.contacts .contacts__line { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 30px; }

.contacts .contacts__line.contacts__line--last { margin-bottom: 0; }

.contacts .contacts__line .icon { width: 20px; height: 20px; margin-right: 10px; }

.contacts .contacts__line span { display: block; color: #555555; }

.contacts .contacts__line a { color: inherit; text-decoration: none; }

.contacts .contacts__line a:hover { text-decoration: underline; }

.contacts.contacts--light { color: #000000; }

.contacts.contacts--light span { color: #D6D6D6; }

.socials { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.socials .social-link { color: #D6D6D6; width: 22px; height: 22px; -webkit-transition: 0.2s; transition: 0.2s; }

.socials .social-link:hover { color: #FFFFFF; }

.socials .social-link + .social-link { margin-left: 30px; }

.socials.socials--color .social-link.social-link--facebook:hover { color: #385997; }

.socials.socials--color .social-link.social-link--massenger:hover { color: #009dfa; }

.socials.socials--color .social-link.social-link--youtube:hover { color: #ff0100; }

.socials.socials--color .social-link.social-link--instagram:hover { color: #C13584; }

.breadcrumbs-block { border-top: 1px solid #FFFFFF; }

.breadcrumbs { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 20px 0; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.breadcrumb { font-size: 14px; color: #000000; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.breadcrumb a { display: -webkit-box; display: -ms-flexbox; display: flex; color: #000000; text-decoration: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.breadcrumb a:hover { text-decoration: underline; }

.breadcrumb .icon { width: 4px; height: 7px; margin: 0 10px; }

.breadcrumb span { color: #555555; }

.catalog { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.catalog .catalog__sidebar { width: 100%; -ms-flex-negative: 0; flex-shrink: 0; }

.catalog .catalog__content { width: 100%; }

@media all and (min-width: 319px) { .catalog .catalog__sidebar { width: 100%; }
  .catalog .catalog__content { width: 100%; } }

@media all and (min-width: 1279px) { .catalog .catalog__sidebar { width: 25%; }
  .catalog .catalog__content { width: 75%; padding-left: 30px; } }

.catalog-head { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.catalog-head .catalog-head__category { margin-right: 20px; width: 100%; }

.catalog-head .catalog-head__category h1, .catalog-head .catalog-head__category h2 { margin: 0; padding: 0; }

.catalog-head .catalog-head__count { margin-top: 20px; margin-bottom: 20px; }

@media all and (min-width: 1279px) { .catalog-head .catalog-head__category { width: auto; }
  .catalog-head .catalog-head__count { margin: 0 auto 0 0; }
  .catalog-head .catalog-head__sort { margin-left: 20px; } }

.sidebar { background-color: #FFFFFF; margin-bottom: 30px; }

.pagination .pagination__more { text-align: center; }

.pagination .pagination-pages { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding-top: 30px; }

.pagination-page { display: block; margin: 0 10px; }

.pagination-page a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 40px; height: 40px; color: #555555; border: 1px solid #555555; background-color: transparent; text-decoration: none; text-align: center; border-radius: 2px; }

.pagination-page a:hover { color: #FFFFFF; background-color: #626262; border-color: #626262; }

.pagination-page span { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 40px; height: 40px; color: #555555; border: 1px solid #555555; background-color: transparent; text-decoration: none; text-align: center; border-radius: 2px; }

.pagination-page.pagination-page--active a, .pagination-page.pagination-page--active span { color: #FFFFFF; background-color: #555555; }

.filter .filter__name { border-bottom: 1px solid #F6F6F6; font-weight: 500; font-size: 16px; color: #000000; text-transform: uppercase; padding: 15px 20px; }

.filter .filter__block { padding: 15px 20px; }

.filter-link { padding: 8px 0; }

.filter-link a { color: #555555; text-decoration: none; font-size: 14px; line-height: 1.2; }

.filter-link a:hover { color: #000000; }

.filter-link > a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-weight: 500; }

.filter-link > a:after { display: none; content: '+'; font-weight: 400; }

.filter-link.filter-link--parent > a:after { display: block; }

.filter-link.filter-link--active > a { color: #ec3d24; }

.filter-link.filter-link--active > * > .filter-sublinks { display: block; }

.filter-sublinks { display: none; padding-left: 20px; padding-top: 8px; }

.filter-sublink { padding: 8px 0; position: relative; }

.filter-sublink > a { display: -webkit-box; display: -ms-flexbox; display: flex; font-weight: 400; }

.filter-sublink > a:after { display: none; position: absolute; top: 8px; right: 0; content: '+'; font-weight: 400; }

.filter-sublink > a:before { display: block; content: '-'; font-weight: 400; margin-right: 10px; }

.filter-sublink.filter-sublink--parent > a:after { display: block; }

.filter-sublink .filter-sublinks { display: none; }

.filter-sublink.filter-sublink--active > a { color: #ec3d24; }

.filter-sublink.filter-sublink--active > * > .filter-sublinks { display: block; }

.filter-slider { width: 100%; }

.filter-slider .filter-slider__bar { height: 2px; margin: 12px 0; background-color: #F6F6F6; width: 100%; position: relative; -webkit-transition: 0.2s; transition: 0.2s; }

.filter-slider .filter-slider__bar .filter-slider-min, .filter-slider .filter-slider__bar .filter-slider-max { width: 14px; height: 14px; border: 1px solid #81858C; border-radius: 50%; background-color: #FFFFFF; position: absolute; top: -6px; left: 0; cursor: pointer; -webkit-transform: translateX(-50%); transform: translateX(-50%); -webkit-transition: 0.2s; transition: 0.2s; }

.filter-slider .filter-slider__bar .filter-slider-max { left: 100%; }

.filter-slider .filter-slider__bar .filter-slider-current { background-color: #81858C; height: 100%; width: 50%; -webkit-transition: 0.2s; transition: 0.2s; }

.filter-slider .filter-slider__bar:hover .filter-slider-min, .filter-slider .filter-slider__bar:hover .filter-slider-max { border-color: #ec3d24; }

.filter-slider .filter-slider__bar:hover .filter-slider-current { background-color: #000000; }

.filter-slider .filter-slider__inputs { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 8px; }

.filter-slider .filter-slider__input-label { color: #555555; font-size: 14px; padding-right: 10px; }

.filter-slider .filter-slider__input-sep { padding: 0 10px; }

.filter-slider .filter-slider__input { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.filter-slider .filter-slider__input input { display: block; padding: 0 0 0 10px; margin: 0; width: 100%; height: 30px; border: 1px solid #D6D6D6; border-right: none; color: #000000; font-size: 14px; overflow: hidden; text-align: right; }

.filter-slider .filter-slider__input input::-webkit-outer-spin-button, .filter-slider .filter-slider__input input::-webkit-inner-spin-button { -webkit-appearance: none; }

.filter-slider .filter-slider__input input[type='number'] { -moz-appearance: textfield; }

.filter-slider .filter-slider__input input:focus { overflow: hidden; }

.filter-slider .filter-slider__input .filter-slider__input-symbol { height: 30px; line-height: 30px; padding: 0 5px; border: 1px solid #D6D6D6; border-left: none; }

.product { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.product .product__gallery { width: 100%; background-color: #FFFFFF; padding: 20px; margin-bottom: 40px; }

.product .product__info { width: 100%; margin-bottom: 40px; }

.product .product__info .box + .box { margin-top: 20px; }

@media all and (min-width: 1279px) { .product .product__gallery { width: 65%; }
  .product .product__info { padding-left: 30px; width: 35%; } }

.product-gallery { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.product-gallery .product-gallery__thumbs { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; width: 100%; height: 100px; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }

.product-gallery .product-gallery__photo { position: relative; width: 100%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

.product-gallery .product-gallery__photo .product-gallery-photo-image { position: relative; width: 100%; }

.product-gallery .product-gallery__photo .product-gallery-photo-image .image img { vertical-align: top; }

@media all and (min-width: 1279px) { .product-gallery { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  .product-gallery .product-gallery__thumbs { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100px; height: 100%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .product-gallery .product-gallery__photo { width: 100%; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; } }

.product-gallery .product-gallery-thumb { width: 100px; height: 100px; cursor: pointer; }

.product-gallery .product-gallery-thumb + .product-gallery-thumb { margin-left: 20px; }

.product-gallery .product-gallery-thumb img { max-height: 100%; max-width: 100%; width: 100%; height: 100%; -o-object-fit: contain; object-fit: contain; }

@media all and (min-width: 1279px) { .product-gallery .product-gallery-thumb + .product-gallery-thumb { margin-left: 0; margin-top: 20px; } }

.product-code { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 20px; }

.product-code .product-sku { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 12px; line-height: 1; color: #555555; background-color: #F6F6F6; height: 30px; padding: 0 10px; border-radius: 2px; margin-right: 10px; }

.product-code .product-sku + .product-sku { margin-top: 10px; }

.product-code .product-sku span { margin-left: 5px; }

.product-excerpt { font-size: 14px; line-height: 22px; color: #555555; margin-bottom: 20px; }

.product-price-stock { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 20px; }

.product-price { text-align: right; }

.product-price .product-price__regular { font-size: 28px; line-height: 1; font-weight: 500; color: #000000; white-space: nowrap; }

.product-price .product-price__other { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 18px; line-height: 1; font-weight: 400; color: #ec3d24; white-space: nowrap; margin-bottom: 5px; }

.product-price .product-price__other.product-price__other--old { text-decoration: line-through; }

.product-price-info { width: 18px; height: 18px; margin-left: 10px; color: #555555; position: relative; cursor: pointer; }

.product-price-info .product-price-info__label { display: none; position: absolute; bottom: 100%; left: 50%; font-size: 14px; line-height: 1.1; width: 140px; text-align: center; white-space: normal; padding: 4px 10px; margin: 0 0 10px -70px; background-color: #000000; color: #FFFFFF; border-radius: 20px; }

.product-price-info .product-price-info__label:after { display: block; content: ''; position: absolute; top: 100%; left: 64px; border: 6px solid transparent; border-top-color: #000000; }

.product-price-info:hover { color: #000000; }

.product-price-info:hover .product-price-info__label { display: block; }

.product-stock { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #0AA06E; }

.product-stock .icon { width: 14px; height: 14px; margin-right: 10px; }

.product-stock.product-stock--not-available { color: #ec3d24; }

.product-variation { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 -15px 20px; }

.product-variation .product-variation__select { width: 100%; padding: 0 15px; }

.product-variation .product-variation__select label { display: block; text-transform: uppercase; font-weight: 500; }

.product-buy { display: -webkit-box; display: -ms-flexbox; display: flex; }

.product-buy .product-buy__qty { width: 150px; margin-right: 20px; }

.product-buy .product-buy__to-cart { width: 100%; }

.product-quantity { display: -webkit-box; display: -ms-flexbox; display: flex; }

.product-quantity .product-quantity__button { display: block; width: 40px; height: 50px; padding: 0; margin: 0; border: none; background-color: #F6F6F6; color: #555555; font-size: 14px; cursor: pointer; border-radius: 2px 0 0 2px; }

.product-quantity .product-quantity__button:hover, .product-quantity .product-quantity__button:focus { color: #000000; background-color: #D6D6D6; }

.product-quantity .product-quantity__input { width: 100%; height: 50px; background-color: #F6F6F6; color: #555555; font-size: 14px; border: none; padding: 0; margin: 0; text-align: center; }

.product-quantity .product-quantity__input + .product-quantity__button { border-radius: 0 2px 2px 0; }

.product-quantity .product-quantity__input:hover, .product-quantity .product-quantity__input:focus, .product-quantity .product-quantity__input:active { outline: none; }

.product-quantity input::-webkit-outer-spin-button, .product-quantity input::-webkit-inner-spin-button { -webkit-appearance: none; }

.product-quantity input[type='number'] { -moz-appearance: textfield; }

.product-adds { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 -15px; }

.product-adds > * { padding: 0 15px; }

.categories { margin-bottom: 30px; }

.category-card .category-card__thumb { width: 100%; height: 0; padding-bottom: 100%; position: relative; }

.category-card .category-card__thumb .image { position: absolute; top: 0; left: 0; background-color: #ffffff; }

.category-card .category-card__info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding-top: 20px; }

.category-card-name { text-transform: none; color: #000000; margin-bottom: 0; text-align: center; }

.category-card-name a { color: inherit; text-decoration: none; -webkit-transition: 0.2s; transition: 0.2s; }

.category-card-name a:hover { color: #ec3d24; }

.category-card__foot { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: auto; }

.share { display: -webkit-box; display: -ms-flexbox; display: flex; }

.share .share__label { font-size: 16px; text-transform: uppercase; color: #000000; font-weight: 500; margin-right: 20px; }

.share .share__icons { width: 100%; }

.product-tabs { margin-bottom: 40px; }

.product-tabs .product-tabs__control { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.product-tabs .product-tabs__content { padding: 30px 40px; background-color: #FFFFFF; }

@media all and (min-width: 767px) { .product-tabs .product-tabs__control { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

.product-tab { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #D6D6D6; color: #81858C; padding: 0 20px; height: 50px; font-size: 16px; line-height: 1; text-transform: uppercase; cursor: pointer; margin-top: 3px; }

.product-tab:hover { color: #000000; }

.product-tab.product-tab--active { background-color: #FFFFFF; font-weight: 500; border-top: 1px solid #ec3d24; }

@media all and (min-width: 767px) { .product-tab { margin-top: 0; }
  .product-tab + .product-tab { margin-left: 3px; } }

.comments .comment { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 30px; }

.comments .comment .comment__ava { display: block; width: 60px; height: 60px; -ms-flex-negative: 0; flex-shrink: 0; border-radius: 50%; overflow: hidden; }

.comments .comment .comment__info { width: 100%; margin-left: 20px; }

.comment-head { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; font-size: 14px; margin-bottom: 10px; }

.comment-head .comment-head__stars { width: 100%; margin-right: 20px; margin-bottom: 10px; }

.comment-head .comment-head__name { color: #000000; font-weight: 500; margin-right: 5px; }

.comment-head .comment-head__date { color: #555555; }

@media all and (min-width: 1279px) { .comment-head .comment-head__stars { width: auto; margin-bottom: 0; } }

.account { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.account .account__sidebar { width: 100%; -ms-flex-negative: 0; flex-shrink: 0; margin-bottom: 30px; }

.account .account__content { width: 100%; }

@media all and (min-width: 319px) { .account .account__sidebar { width: 100%; }
  .account .account__content { width: 100%; } }

@media all and (min-width: 1279px) { .account .account__sidebar { width: 25%; margin-bottom: 0; }
  .account .account__content { width: 75%; padding-left: 30px; } }

.account-menu { background-color: #FFFFFF; }

.account-menu .account-menu__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; border-bottom: 1px solid #F6F6F6; font-weight: 400; font-size: 16px; color: #555555; text-transform: uppercase; padding: 15px 20px; width: 100%; text-decoration: none; -webkit-transition: 0.2s; transition: 0.2s; }

.account-menu .account-menu__item .icon { color: #D6D6D6; width: 20px; height: 20px; -webkit-transition: 0.2s; transition: 0.2s; }

.account-menu .account-menu__item:hover { color: #000000; }

.account-menu .account-menu__item:hover .icon { color: #000000; }

.account-menu .account-menu__item.account-menu__item--active { background-color: #D6D6D6; color: #000000; }

.account-menu .account-menu__item.account-menu__item--active .icon { color: #000000; }

.window { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.7); z-index: 9999; overflow: scroll; padding: 15px; }

.window .window-head { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.window .window-close { width: 20px; height: 20px; margin-left: 20px; margin-top: 6px; color: #555555; cursor: pointer; }

.window .window-close:hover { color: #000000; }

.window .window__wrap { width: 100%; height: auto; }

@media all and (min-width: 767px) { .window .window__wrap { width: 50%; } }

@media all and (min-width: 1279px) { .window .window__wrap { width: 500px; } }

.window .window__wrap + .window__wrap { margin-top: 30px; }

.cart .cart-empty { text-transform: uppercase; font-weight: 500; color: #000000; text-align: center; margin-bottom: 40px; }

.cart .cart-empty .button { margin-left: 20px; }

.cart-table thead { display: none; }

.cart-table tr { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 10px; padding-top: 10px; }

.cart-table tr + tr { border-top: 1px solid #D6D6D6; }

.cart-table td, .cart-table th { vertical-align: middle; }

.cart-table tfoot td, .cart-table tfoot th { width: 10%; }

.cart-table .cart-table__product { width: 100%; border-right: 1px solid #D6D6D6; }

.cart-table .cart-table__sku { white-space: normal; font-size: 12px; vertical-align: middle; width: 100%; border-right: 1px solid #D6D6D6; }

.cart-table .cart-table__quantity { width: 34%; }

.cart-table .cart-table__quantity .product-quantity .product-quantity__button, .cart-table .cart-table__quantity .product-quantity .product-quantity__input { height: 40px; }

.cart-table .cart-table__price { width: 33%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; white-space: nowrap; text-align: center; vertical-align: middle; }

.cart-table .cart-table__price.cart-table__price--subtotal { font-size: 14px; }

.cart-table .cart-table__price.cart-table__price--total { font-weight: 500; }

.cart-table .cart-table__price.cart-table__price--subtotal, .cart-table .cart-table__price.cart-table__price--total { width: 30%; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.cart-table .cart-table__vat { display: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; white-space: nowrap; text-align: center; vertical-align: middle; }

.cart-table .cart-table__subtotal { font-size: 14px; text-align: right; }

.cart-table .cart-table__total { font-weight: 500; text-align: right; }

.cart-table .cart-table__subtotal, .cart-table .cart-table__total { width: 60%; }

@media all and (min-width: 767px) { .cart-table thead { display: table-header-group; }
  .cart-table tr { display: table-row; margin-bottom: 0; padding-top: 0; }
  .cart-table tr + tr { border-top: none; }
  .cart-table tfoot td, .cart-table tfoot th { width: auto; }
  .cart-table .cart-table__product, .cart-table .cart-table__sku { width: auto; border-right: none; }
  .cart-table .cart-table__quantity { width: 100px; }
  .cart-table .cart-table__price { width: auto; display: table-cell; }
  .cart-table .cart-table__price.cart-table__price--subtotal, .cart-table .cart-table__price.cart-table__price--total { width: auto; }
  .cart-table .cart-table__vat { width: auto; display: table-cell; }
  .cart-table .cart-table__subtotal, .cart-table .cart-table__total { width: auto; } }

.cart-table.cart-table--smart tbody tr { padding-top: 0; }

.cart-table.cart-table--smart td, .cart-table.cart-table--smart th { padding: 5px; }

.cart-table.cart-table--smart .cart-table__price { width: 100%; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; font-size: 14px; }

.cart-table.cart-table--smart .cart-table__total { font-size: 14px; }

.cart-table.cart-table--smart .cart-table__vat { font-size: 14px; }

.cart-table.cart-table--smart .cart-product .cart-product__info { padding-left: 0; }

.cart-table.cart-table--smart .cart-product .cart-product__info .cart-product-name { font-size: 16px; }

.cart-table.cart-table--smart tfoot .cart-table__price { width: 33%; }

@media all and (min-width: 767px) { .cart-table.cart-table--smart .cart-table__price { width: auto; } }

.cart-product { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; padding-right: 40px; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.cart-product .cart-product__delete { position: absolute; top: 50%; right: 10px; width: 16px; height: 16px; color: #D6D6D6; margin-top: -8px; cursor: pointer; }

.cart-product .cart-product__delete:hover { color: #ec3d24; }

.cart-product .cart-product__thumb { width: 100px; height: 100px; -ms-flex-negative: 0; flex-shrink: 0; }

.cart-product .cart-product__info { width: 100%; padding-top: 10px; }

.cart-product .cart-product__info .cart-product-name { display: block; color: #000000; text-decoration: none; line-height: 1 !important; }

.cart-product .cart-product__info .cart-product-sku { font-size: 12px; color: #555555; }

.cart-product .cart-product__info .cart-product-count-price { white-space: nowrap; font-size: 12px; vertical-align: middle; }

@media all and (min-width: 767px) { .cart-product .cart-product__thumb { width: 50px; height: 50px; } }

@media all and (min-width: 1279px) { .cart-product { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  .cart-product .cart-product__info { padding-top: 0; padding-left: 20px; } }

.cart-next { text-align: right; margin: 0px 0; }

.cart-next .button { margin: 10px 0 10px 10px; }

.cart-show-on-mobile { display: block; margin-right: 10px; }

@media all and (min-width: 767px) { .cart-show-on-mobile { display: none; } }

.back { margin-bottom: 20px; }

.back .back__wrap { display: inline-block; }

.back-link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 14px; line-height: 1; color: #555555; text-decoration: none; font-weight: 500; text-transform: uppercase; }

.back-link .icon { width: 14px; height: 14px; margin-right: 5px; margin-bottom: 2px; }

.back-link:hover { color: #000000; }

.payments { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.payments .payment { margin-right: 30px; margin-bottom: 10px; }

.payments .payment .radio:before { top: 10px; }

.payments .payment .radio:after { top: 16px; }

.payments .payment .radio img { height: 40px; }

.payments .payment-name { color: #555555; font-weight: 400; font-size: 14px; margin-bottom: 10px; white-space: nowrap; }

.payments .payment-name span { color: #000000; }

.deliveries { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.deliveries .delivery { margin-right: 30px; margin-bottom: 10px; }

.deliveries .delivery .radio:before { top: 10px; }

.deliveries .delivery .radio:after { top: 16px; }

.deliveries .delivery .radio img { height: 40px; }

.deliveries .delivery-name { color: #555555; font-weight: 400; font-size: 14px; margin-bottom: 10px; white-space: nowrap; }

.deliveries .delivery-name span { color: #000000; }

.page.page--full { min-height: 30vh; }

.page.page--full-all { min-height: 100vh; }

.page.page--404 { padding: 30px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.error-404 { padding-top: 40px; text-align: center; }

.error-404 h1 { font-size: 60px; }

.error-404 .error-404__description { font-size: 20px; margin-bottom: 20px; }

.contact-page { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; margin-bottom: 30px; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.contact-page .contact-page__sidebar { width: 100%; height: 100%; -ms-flex-negative: 0; flex-shrink: 0; margin-bottom: 30px; }

.contact-page .contact-page__content { width: 100%; height: 100%; }

@media all and (min-width: 319px) { .contact-page .contact-page__sidebar { width: 100%; }
  .contact-page .contact-page__content { width: 100%; } }

@media all and (min-width: 1279px) { .contact-page .contact-page__sidebar { width: 35%; margin-bottom: 0; }
  .contact-page .contact-page__content { width: 65%; padding-left: 30px; } }

.contact-map { position: relative; width: 100%; height: 0; padding-bottom: 100%; }

.contact-map .contact-map__iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.contact-map .contact-map__iframe iframe { display: block; width: 100%; height: 100%; }

@media all and (min-width: 1279px) { .contact-map { padding-bottom: 40%; } }

.orders-table tbody { font-size: 16px; }

.order-table tbody { font-size: 16px; }
