@import "~sass-autoprefixer/scss/prefixes";

.select-multiple-option {
  display: block;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0;
  margin: 1px 0 0;
  cursor: pointer;

  .select-multiple-option {
    padding-left: 10px;
  }

  .select-multiple-option__name {
    padding: 5px;

    &:hover,
    &:active,
    &:focus {
      background-color: #f8f8f8;
    }

    &.select-multiple-option__name--selected {
      background-color: #2a93d5;
      color: #ffffff;
    }
  }

  &.select-multiple-option--selected {
    background-color: #2a93d5;
  }
}
