@import "~sass-autoprefixer/scss/prefixes";

:host {
	width: 100%;
}

.select-multiple-wrap {
	width: 100%;
	height: auto;
	padding: 5px;
	position: relative;
	@include vp-flexbox;
	@include vp-align-items(flex-start);
	@include vp-justify-content(space-between);
	cursor: pointer;
	
	.select-multiple__options {
		display: block;
		width: 100%;
		background-color: #ffffff;
		overflow: scroll;
	}
	
	.select-multiple-wrap__default {
		display: block;
		font-size: 0.875rem;
		line-height: 1;
		padding: 0.875rem 0.625rem;
		margin: 0;
		cursor: pointer;
		color: lighten(#000000, 50);
		text-align: center;
	}
}
