:host {
  display: block;
  width: 100%;
  height: 100%;
}

.modal {
  display: block;
}

.modal-backdrop {
  background-color: #000;
  transition-duration: .15s;
  transition: opacity .15s linear;
  opacity: 0.5;
}
