::ng-deep .filter-slider {
	
	.ng5-slider {
		
		.ng5-slider-bar-wrapper {
			
			&.ng5-slider-left-out-selection {
				
				.ng5-slider-bar {
					background: #F6F6F6;
				}
			}
			
			&.ng5-slider-right-out-selection {
				
				.ng5-slider-bar {
					background: #F6F6F6;
				}
			}
			
			.ng5-slider-bar {
				background: #F6F6F6;
				height: 2px;
				
				&.ng5-slider-selection {
					background: #81858C;
				}
			}
		}
		
		.ng5-slider-pointer {
			border: 1px solid #81858C;
			background: #FFFFFF;
			width: 14px;
			height: 14px;
			top: -6px;
			
			&:after {
				display: none;
			}
			
			&.ng5-slider-active {
				
				&:after {
					display: none;
				}
				
				outline: none;
			}
			
			&:hover {
				border-color: #F71818;
			}
		}
		
		&:hover {
			
			.ng5-slider-bar-wrapper {
				
				.ng5-slider-bar {
					
					&.ng5-slider-selection {
						background: #000000;
					}
				}
			}
		}
	}
}
