.preloader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.preloader::after {
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.preloader__spinner {
	content: " ";
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-left: -30px;
	margin-top: -30px;
	border: 4px solid rgba(52,136,174, 0.2);
	border-radius: 50%;
	border-top: 4px solid #3488AE;
	animation: preloader-spin 1s linear infinite;
	-webkit-animation: spin 1s linear infinite;
	left: 50%;
	top: 50%;
	position: absolute;
	z-index: 3;
}

.preloader__percent {
	display: flex;
	text-align: center;
	align-items: center;
	justify-items: center;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	left: 50%;
	top: 50%;
	position: absolute;
	z-index: 2;
	font-size: 11px;
	font-weight: bold;
	color: #3488AE;
	
	div {
		width: 100%;
	}
}

@keyframes preloader-spin {
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes preloader-spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}